#whoareweright{
    flex-direction: row-reverse !important;
}
#whoarewe-right{
    text-align:right;
    min-height: 0px;

}
.approachwriteup{
    text-align: center;
    
}
.approachwriteup p{
    margin-left:3%;
    margin-right:3%;
}