#whoareweright{
    flex-direction: row-reverse !important;
}
#whoarewe-right{
    text-align:right;
    min-height: 0px;

}
.approachwriteup{
    text-align: center;
    
}
.approachwriteup p{
    margin-left:3%;
    margin-right:3%;
}

#new-logo{
    width: 23%;
}
.thm-btn--aso::before {
    background:none  !important;
}

.thm-btn--aso {
    background-color: #5e1dab !important;
    color: #f8d9ff;
}
.mega_menu_wrapper .iconbox_block_2:hover {
    background-color: #f6e8ff !important;
}
.mega_menu_wrapper .iconbox_block_2:hover .iconbox_title:hover{
    color:#9741ac !important;
}
#sociallinks{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
#framework-head{
    margin-top:2rem !important;
}
@media(max-width: 769px){
    #new-logo{
        width: 50%;
    }
    .btn-shape path{
        width:5em;
    }
    .blc-btn{
        padding:20px !important;
    }
    .cs-feature{
        margin-top:-75px;
    }
    #hero-title{
        font-size:5vh;
    }
    .cs-about_right .xb-content{
        height:50%;
    }
    .service{
        padding-top:0px;
    }
    .contact{
        padding-top: 0px;
    }
    #framework{
        margin-left:-20px;
    padding-top: 0px;
    }
    #framework-img {
        width: 95%;
    }
    .page-title{
        margin-top:-100 !important;
    }
    .ap-award-inner:not(:last-child) {
        margin-right: 20px;
    }
    #protecting-what-matters p{
        font-size:16px;
        font-weight: 500;
        line-height: 25px;
    }
}
@media(max-width:992px){
    #new-logo {
        width: 65%;
    }
    .xb-header{
        padding-top:0.5em;
        padding-bottom:0.5em;
    }
    .item-contact_form {
         margin-right: 0px;
         padding: 40px 20px 50px;
    }
}
#c-logo-hero{
    left: 51% !important;
}
.hero-style-three .xb-hero .xb-item--title{
    letter-spacing:.1em !important;
}
#services-title{
    color:white !important;
}
#services-sub-title{
    color:#33066f !important;
}
#stickyheader{
    background-color:#010315 !important;
    padding-top: 0.2em;
    padding-bottom: .2em;
}
#service-classification{
    font-size: 16px;
    color:#ecebf2;
    font-weight: 500;
    text-align: justify;
}
.service-classification-head{
    color:white !important;
    font-weight: 500;
    letter-spacing: 1px;
}
#get-started-sticky:hover{
    color:white;
}
#contact-button{
    color: white;
    background:#5e1dab !important;
}
#contact-button a{
    color:white;
}
.social_icons_block li a:hover {
    color: var(--color-white);
    border: 1px solid #8f3dbe;
    background:#8f3dbe;
}
.mega_menu_wrapper .iconbox_block_2:hover .iconbox_title {
    color: #630979;
}
#who-are-we-about{
    color:black !important;
}
#who-are-we-3{
    position:relative;
}
.who-are-we-team{
    opacity: .7;
}
.mega_menu_wrapper .iconbox_block_2 .iconbox_icon {
    background-color: rgba(164,0,235,0.1);
}
.megha_menu-wrapper .iconbox_title:hover{
color:blue !important;
}
.slick-track{
    padding-top:1rem;
}
.who-are-we-landing-image{
    height:30%;
}
#capabh4 h5{
    padding-top:3rem;
}
.team-item .xb-item--avatar {
    border:none !important;
    border-radius: none;
    box-shadow: none;
}
.service-box::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background: linear-gradient(122deg, rgba(255, 217, 17, 0) 0%, rgba(233, 226, 255, 0.8) 34.54%, #cae1f7 62.5%, rgba(250, 232, 138, 0.56) 100%), radial-gradient(74.51% 50% at 50% 100%, white 24.0899994969%, white 100%);
    background: url(../img/who-are-we/bg-gradientorg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media(min-width:993px){
    #stickyheader {
        background-color: #010315 !important;
        padding-top: 1.2em;
        padding-bottom: 1.2em;
    }
    #iconsup{
        align-items: start;
    }
    
}
@media(min-width:420px) and (max-width:768px){
#framework{
    margin-left:20px;
}
.brand-items{
    padding-top:20px;
}
}
#protecting-what-matters{
    flex-direction: column;
}
#protecting-what-matters p{
    letter-spacing: 1px;
}
#your-org{
    max-width:950px;
}

#font{
    font-size: 12px;
}
.item-contact_info .social_icons_block {
    margin: 37px 0 30px;
    margin-left: -12px;
}
#alignpara{
    text-align: justify;
}